<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chatbot</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/8dcc82df50.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <!-- partial:index.partial.html -->
  
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fa-solid fa-user-doctor"></i> Tu Asistente Médico <i class="fa-solid fa-stethoscope"></i>
      </div>
    </header>

    <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url(https://cdn-icons-png.flaticon.com/512/4660/4660583.png)"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Baymax</div>
            <div class="msg-info-time">24:00</div>
          </div>

          <div class="msg-text">
            Hola!, Yo soy Baymax tu asistente personal de salud. Mi trabajo es diagnosticarte una enfermedad (Covid19, Rinitis alérgica y Resfriado común)🤒, 
            dependiento de tus síntomas. Si tu enfermedad no esta dentro de mi base de datos espero ayudarte en un futuro 🥺. Dicho esto cuéntame, ¿Cuáles son tus síntomas?___
            Al terminar de escribir tus sintomas porfavor escribe "Diagnóstico" para ver tus resultados.
          </div>
        </div>
      </div>

    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" id="textInput" placeholder="Enter your message...">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <form action="/Historial">
      <button class="w-100 btn btn-lg btn-primary align-text-bottom" type="submit">Historia Clínica</button>
    </form>
  </section>
  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>

  <script>

    const msgerForm = get(".msger-inputarea");
    const msgerInput = get(".msger-input");
    const msgerChat = get(".msger-chat");


    // Icons made by Freepik from www.flaticon.com
    const BOT_IMG = "https://cdn-icons-png.flaticon.com/512/4660/4660583.png";
    const PERSON_IMG = "https://cdn-icons-png.flaticon.com/512/4660/4660603.png";
    const BOT_NAME = "    Baymax";
    const PERSON_NAME = "Tu";

    msgerForm.addEventListener("submit", event => {
      event.preventDefault();

      const msgText = msgerInput.value;
      if (!msgText) return;

      appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
      msgerInput.value = "";
      botResponse(msgText);
    });

    function appendMessage(name, img, side, text) {
      //   Simple solution for small apps
      const msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-img" style="background-image: url(${img})"></div>

  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">${name}</div>
      <div class="msg-info-time">${formatDate(new Date())}</div>
    </div>

    <div class="msg-text">${text}</div>
  </div>
</div>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }

    function botResponse(rawText) {

      // Bot Response
      $.get("/get", { msg: rawText }).done(function (data) {
        console.log(rawText);
        console.log(data);
        const msgText = data;
        appendMessage(BOT_NAME, BOT_IMG, "left", msgText);

      });

    }


    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    function formatDate(date) {
      const h = "0" + date.getHours();
      const m = "0" + date.getMinutes();

      return `${h.slice(-2)}:${m.slice(-2)}`;
    }
  </script>
</body>

</html>
